body{
    font-family:"Comic Sans MS",SansSerif;

}

.bg-color {
    background-color:#cd5c5c;
}

nav{
    box-shadow:0 0 10px black;
}

a{
    text-decoration: none;
}

#testimonials  img{
    border-radius: 50%;
}
#testimonials .card{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    background-color: grey;
    color: white;
    margin:10px;
}

body{
    background-color: black;
}

